Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
score = [('sachin tendulkar', 34357),('ricky ponting', 27483), ('jack kallis', 25534), ('virat kohli', 24936)]

In [2]:
lambda n, p :n**p

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions. [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]

In [9]:
def test(l):
    l1 = []
    for i in l:
        l1.append(i**2)
        return l1

In [10]:
test(l)

[1]

In [11]:
def sq(x):
    return x**2

In [12]:
list (map(sq , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
list(map(lambda x : x**2 , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
s = ['1','2','3','4','5','6','7','8','9','10']
list(map(lambda s : s.upper() ,s))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [18]:
nums = [1,2,3,4,5,6,4]

In [19]:
list(filter(lambda x, y : x if x>y else y , nums)

SyntaxError: incomplete input (3380245840.py, line 1)

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [22]:
a = [2,3,6,9,27,60,90,120,55,46]

In [23]:
a

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [24]:
list(filter(lambda x : x% 2 != 0, a))

[3, 9, 27, 55]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [25]:
l2 = ["python" , "php" , "aba" , "radar" , "level" ]

In [28]:
list(filter(lambda x: len(x)<4 , l2))

['php', 'aba']

In [ ]:
list(filter(lambda x: len(x))